<div>
  <img
    src="./assets/imgs/jeronimo_gascon_photo_masc.png"
    alt="Jerónimo Gascón"
  />
  <div>
    <div>
      <a href="https://github.com/hitses" target="_blank"
        ><img
          class="f-icon"
          src="./assets/imgs/icons/github.svg"
          [alt]="'footer.icons.github' | translate"
      /></a>

      <a href="https://www.linkedin.com/in/jerogassan/" target="_blank"
        ><img
          class="f-icon"
          src="./assets/imgs/icons/linkedin.svg"
          [alt]="'footer.icons.linkedin' | translate"
      /></a>

      <a href="https://jerogassan-logs.web.app/blog" target="_blank"
        ><img
          class="f-icon"
          src="./assets/imgs/icons/blog.svg"
          [alt]="'footer.icons.blog' | translate"
      /></a>
    </div>
    <p>
      <small>{{ "footer.captcha" | translate }}</small>
    </p>
    <p>Copyright &#169; {{ year }} - Jerónimo Gascón</p>
  </div>
</div>
