div {
  display: flex;
  justify-content: center;
}
.spinner {
  border: 4px solid var(--secondary);
  border-left-color: transparent;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  animation: spin 1s linear infinite;
  -webkit-animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

div:hover {
  .spinner {
    border: 4px solid var(--back);
    border-left-color: transparent;
  }
}
