nav {
  width: 100%;
  background-color: var(--back);
  ul {
    margin-top: 0;
    height: 50px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    li {
      list-style: none;
      cursor: pointer;
      a {
        color: #fffefa;
        text-decoration: none;
        cursor: default;
      }
      a:hover {
        color: #fecc00;
      }
      div {
        width: 100px;
        display: flex;
        justify-content: space-evenly;
        img {
          height: 25px;
          cursor: pointer;
        }
      }
    }
    li:hover {
      color: #fecc00;
    }
    .btn {
      cursor: default;
      padding: 5px;
      border: 1px solid var(--secondary);
      background-color: var(--secondary);
      border-radius: 15px;
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      -ms-border-radius: 15px;
      -o-border-radius: 15px;
      a {
        color: var(--back);
      }
      a:hover {
        color: var(--back);
      }
    }
  }
  .active {
    color: #fecc00;
  }
}
