nav {
  width: 80%;
  margin: 0 auto;
  padding: 0;
  background-color: var(--back);
  ul {
    margin-top: 0;
    height: 50px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
    li {
      list-style: none;
      cursor: pointer;
      a {
        color: #fffefa;
        text-decoration: none;
        font-size: var(--paragraph);
        cursor: default;
      }
      a:hover {
        color: #fecc00;
      }
      div {
        width: 100px;
        display: flex;
        justify-content: flex-end;
        img {
          padding-left: 20%;
          height: 25px;
          cursor: pointer;
        }
      }
    }
    li:hover {
      color: #fecc00;
    }
    .btn {
      cursor: default;
      padding: 5px;
      border: 1px solid var(--secondary);
      background-color: var(--secondary);
      border-radius: 15px;
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      -ms-border-radius: 15px;
      -o-border-radius: 15px;
      a {
        color: var(--back);
      }
      a:hover {
        color: var(--back);
      }
    }
  }
  .active {
    color: #fecc00;
  }
}

@media (max-width: 718px) {
  nav {
    width: 100%;
    ul {
      justify-content: space-between;
      margin: 0 5%;
      li {
        div {
          img {
            margin: 0 0;
          }
        }
      }
    }
  }
}
