<div>
  <ul>
    <li
      routerLink="/"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      {{ "navbar.home" | translate }}
    </li>
    <li routerLink="/contact" routerLinkActive="active">
      {{ "navbar.contact" | translate }}
    </li>
    <li>
      <a href="./assets/files/dogEn.jpg" download>{{
        "navbar.download" | translate
      }}</a>
    </li>
    <li>
      <div>
        <img
          (click)="changeLang('es')"
          src="./assets/flags/es.svg"
          [alt]="'navbar.flags.es' | translate"
          width="50px"
        />
        <img
          (click)="changeLang('en')"
          src="./assets/flags/gb.svg"
          [alt]="'navbar.flags.en' | translate"
          width="50px"
        />
      </div>
    </li>
  </ul>
</div>
