<form [formGroup]="contact" (ngSubmit)="send()" autocomplete="off">
  <label [ngClass]="{ error: invalidField('name') }">{{
    !invalidField("name") ? name : invalidName
  }}</label>
  <input type="text" formControlName="name" />
  <label [ngClass]="{ error: invalidField('email') }">{{
    !invalidField("email") ? email : invalidEmail
  }}</label>
  <input type="text" formControlName="email" />
  <label [ngClass]="{ error: invalidField('subject') }">{{
    !invalidField("subject") ? subject : invalidSubject
  }}</label>
  <input type="text" formControlName="subject" />
  <label [ngClass]="{ error: invalidField('message') }">{{
    !invalidField("message") ? message : invalidMessage
  }}</label>
  <textarea formControlName="message"></textarea>

  <button
    *ngIf="!sending && !serverError"
    [disabled]="mailSended"
    type="submit"
  >
    {{ mailSended ? "✔︎" : sendButton }}
  </button>

  <button *ngIf="sending" disabled type="submit">
    <app-loader></app-loader>
  </button>

  <p *ngIf="serverError">
    {{ "contact.buttons.error" | translate }}
    <a href="mailto:contact@jerogassan.dev">contact@jerogassan.dev</a>
  </p>
</form>
